<header class="site-header">
  <div class="header-wrapper">
    <a class="site-title" href="{{ '/' | relative_url }}">{{ site.title }}</a>
    
    <nav class="site-nav">
      <ul class="nav-list">
        <li><a href="{{ '/' | relative_url }}">Home</a></li>
        <li><a href="{{ '/about' | relative_url }}">About This Book</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle">Chapters</a>
          <ul class="dropdown-menu">
            {% assign chapters = site.chapters | sort: 'chapter_number' %}
            {% for chapter in chapters %}
              <li><a href="{{ chapter.url | relative_url }}">{{ chapter.title }}</a></li>
            {% endfor %}
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle">Appendices</a>
          <ul class="dropdown-menu">
            {% assign appendices = site.appendices | sort: 'order' %}
            {% for appendix in appendices %}
              <li><a href="{{ appendix.url | relative_url }}">{{ appendix.title }}</a></li>
            {% endfor %}
          </ul>
        </li>
      </ul>
    </nav>
  </div>
</header> 